Thumbs.db
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.orig
*.obj
*.exe
*.pdb
*.tlb
*.tlh
*.lib
*.sbr
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Oo]bj/
#TestResults
[Tt]est[Rr]esult*
App_Data
_ReSharper*/

#Nuget packages
/Source/packages/*

/.vs
